<div onclick="">
<video id="video1" width="480" height="320" class="videos" preload="none"  controls autoplay>
   <source src="<%= @video_url1 %>">
   <source src="<%= @video_url2 %>">
</video>
</div>