<div style="float:right; width:220px; margin-top:20px;">
	<span style="font-weight:bold; color:#555">Have an idea for a challenge?</span><br>
	Then suggest one!  If we really like it, we'll bake and mail you some tasty <b>brownies</b>.  Seriously!  
	<div style="margin-top:10px" class="SuggestChallengeButton" onclick="window.location.href='/challenges/new'">Create a Challenge</div>
	
	

		
		
</div>
