<%if @plan.start_time%>
	<%@over = false%>
	<%t = Time.zone.now%>
	<%rounded_t = Time.local(t.year, t.month, t.day, 0, 0)%>
	<%if rounded_t >= @plan.start_time%>
		<%@over = true%>
	<%end%>
<%end%>


<%if @plan.attendance_cap%>
	<%plural = ""%>
	<%if @plan.seats_remaining !=1%><%plural = "s"%><%end%>

	<%if @plan.seats_remaining.to_i < 20%>
				<%@tickets_remaining = "<div style=\"color:red\"><span id=\"seat_remain\" style=\"font-weight:bold\" >#{@plan.seats_remaining}</span> ticket#{plural} left!</div>"%>
	<%else%>
			<%@tickets_remaining = "<span id=\"seat_remain\" style=\"font-weight:bold\" >#{@plan.seats_remaining}</span> ticket#{plural} left!"%>
	<%end%>
	<%if @plan.seats_remaining.to_i  < 1%>
			<%@tickets_remaining = "<div style=\"color:red\"><span id=\"seat_remain\" style=\"font-weight:bold\" >Sold Out!</div>"%>
			
	<%end%>
<%else%>
<%@tickets_remaining = ""%>

<%end%>




<%if @plan.application_required%>
	<%@clickaction = "goToByScroll('ApplicationLayer');"%>
<%else%>
	<%if @plan.seats_remaining < 1%>
		<%@clickaction = ""%>
	<%else%>
		<%if current_user%>
			<%if @plan.price and @plan.price > 0 or (@plan.price_max and @plan.price_max.to_i > 0)%>
				<%if @tickets.length > 1%>
					<%@clickaction = "$(this).html('<img style=\"margin-top:3px;\" src=\"/images/ajax-loader_f.gif\">'); window.location.href='/escapes/#{@plan.id}/purchase/'"%>
				<%else%>
					<%@clickaction = "openPayment();"%>
				<%end%>
			<%else%>
				<%if @tickets.length > 1%>
					<%@clickaction = "$(this).html('<img style=\"margin-top:3px;\" src=\"/images/ajax-loader_f.gif\">'); window.location.href='/escapes/#{@plan.id}/purchase/'"%>
				<%else%>
			
					<%@clickaction = "signupPlan(this,$('RenderPlan<#{@plan.id}'),#{@plan.id});"%>
				<%end%>
			<%end%>
		<%else%>
				<%@clickaction = "openRegister('Sign up for #{APP_NAME} to attend'); $.cookie('showAttendPop', 'true', { expires: 7, path: '/escapes/'});"%>
		<%end%>
	<%end%>
<%end%>


	<%if @plan.application_required%>
		<%@title = "Apply Now!"%>
		<%@subtitle = "Deadline: #{@plan.application_deadline.to_date.strftime('%b').titlecase()} #{@plan.application_deadline.to_date.strftime('%e').strip()}"%>
	<%else%>
		<%if @plan.price and @plan.price > 0%>
		
			<%@price = @plan.price%>
			<%if @price > 999%>
				<%@price = @plan.price.to_s.sub( ".0", "") %>
			<%else%>
				<%@price = @plan.price.to_s.sub( ".0", ".00") %>
			<%end%>
		
		
			<%@title = "<div style=\"position:absolute; margin-left:7px; margin-top:3px;\"><img src=\"/images/buy-icon.png\" style=\"width:24px; height:21px\"></div><div style=\"margin-left:21px;\">$#{@price}</div>"%>


			<%if @signedup%>
				<%@subtitle = "You are attending!"%>	
			<%else%>
				<%if @plan.attendance_cap and (@plan.seats_remaining < 10) %>
					<%@subtitle = @tickets_remaining%>	
				<%else%>
				<%if @plan.price and @plan.price > 0%>
					
					<%@subtitle = "per ticket"%>
				
			
					
					<%if @plan.price_max and @plan.price_max > @plan.price%>
					
							<%@title = "<div style=\"position:absolute; margin-left:7px; margin-top:3px;\"><img src=\"/images/buy-icon.png\" style=\"width:24px; height:21px\"></div><div style=\"margin-left:21px;\">Buy Now</div>"%>
					
					 	<%@subtitle = "$#{@plan.price.to_s.sub( ".0", "")} to $#{@plan.price_max.to_s.sub( ".0", "")} per ticket"%>
				
					<%end%>
					
					<%end%>
				<%end%>
			<%end%>
			
		<%else%>
		
			<%if @signedup%>
				<%@title = "I'm coming"%>
			<%else%>
				<%@title = "Sign Me Up!"%>
			<%end%>
	
			<%@subtitle = @tickets_remaining%>
		
		<%end%>
	<%end%>
	
	



		<button id="attend" class="newGrayButton GreenB" style="margin-top:5px; height:40px; line-height:35px; width:140px; font-size:16px; <%if @over || @plan.seats_remaining < 1%>opacity:.3<%end%>" <%if !@over%>onclick="<%=@clickaction%>"<%else%><%end%>><%=raw @title%></button>	
		<div style="margin-top:5px; width:140px; text-align:Center; color:#4C5A74">
			<%if @over == true%>
				<div style="color:red; font-size:12px;">This event is over</div>
			<%else%>
				<div style="font-size:12px;">	<%=raw @subtitle%></div>
			<%end%>
		</div>
		



<%if @plan.attendance_cap%>
<script>
seats_remaining = <%=@plan.seats_remaining%>
</script>
<%end%>