<div class="DateCircle_Small <%if @editable%>EditBoxHide<%else%>addtocal<%end%>" <%if @editable%>onclick="displayEditDate()<%end%>" style=" float:left; margin-left:5px; margin-top:3px;" >

<%if @plan.start_time%>
	<%if @plan.start_time < Time.now + 1.year%>
		<%= @plan.start_time.to_date.strftime('%b').upcase()%><br>
		<%= @plan.start_time.to_date.strftime('%e').strip()%>
	<%else%>

		<div style="font-size:18px; line-height:20px; margin-top:8px;">
			<%= @plan.start_time.to_date.strftime('%Y').strip()%>
		</div>
	<%end%>
<%end%>
</div>
	<%if @editable and @extra_visibility%>
<div style="position:absolute;  margin-left:310px; margin-top:17px">

	<div style="position:absolute; " id="ShowEdit"  onclick="displayEditDate();">
		<img  class="EditIcon" src="/images/ok_pen1.png"   >
	</div>


		
</div>
	<%end%>
	
	<div class="addtocal" class="" style="position:absolute; margin-left:310px; margin-top:40px; width:32px; margin-right:10px">
		<img id="calIcon" src="/images/addcal.png" style="width:20px; height:20px; opacity:.7">
	</div>
	
<div class="DarkBlueLabel <%if @editable%>EditBoxHide<%else%>addtocal<%end%>" style="font-size:18px; float:left; width:240px; margin-top:17px; margin-left:10px;" <%if @editable%>onclick="displayEditDate()<%end%>">
	<%if @plan.start_time%>
		<%@timestring = calc_end_plan_time(@plan.start_time,@plan.end_time)%>
		<div style="line-height:18px;"><%=raw @timestring%></div>
	<%end%>

</div>


<div style="clear:both"></div>