<div id="PaymentModal"> 
	<div class="closeRegister" style="margin-left:535px" onclick="closeRegister()"></div>
	
	<div style="margin-top:3px; margin-left:3px;width:95%; margin-left:auto; margin-right:auto; padding:5px;   text-align:center;">
			<div class="HighlightedTitle"  style="font-size:22px; margin-top:2px;">Purchase Tickets</div>
	</div>
	
	
	<div style="margin-top:15px; width:515px; margin-left:auto; margin-right:auto">
		<%@tickets = @plan.tickets.sort_by_type%>
		<%=render :partial=>"purchase/ticketbox"%>
	</div>
	
	
</div>

<script>
$(document).ready(function() {

	$('#plan_donation_suggested_amount2').numeric({allow:"."});
 });
</script>
