<%if source !="purchase"%>	
<div style="float:left; width:100px">

	<img src="/images/creditInfo2.png" style="width:87px; height:80px; ">	
	<img src="/images/geotrust.gif" style="margin-top:75px; opacity:.7; width:87px; height:47px">

</div>
<%end%>


<div style="float:left; width:360px;margin-left: 10px;  padding-bottom:10px;">
	
	<div id="PaymentBox" <%if source !="purchase"%>	class="registerBorder ticketBox"<%end%> style="font-size:12px; padding-top:15px; width:300px; font-weight:normal;">
		
		
		<%if source=="post_signup_modal"%>
		
		<div class="form-row" style="margin-bottom:5px">
		        <label style="text-align:right; margin-top:9px; margin-right:5px; width:80px;float:left">Donation:</label>
		   			<div id="dollar3" style="position:absolute; margin-left:92px; margin-top:9px; font-size:13px; <%if @plan.donation_suggested_amount and @plan.donation_suggested_amount > 0%>color:#333<%else%>color:#aaa<%end%>" >$</div><input class="ShadowedTextBox" style="width:47px; color:#333; padding-left:15px;" type="textfield" name="plan[donation_suggested_amount2]" id="plan_donation_suggested_amount2"  value="<%if @plan.donation_suggested_amount and @plan.donation_suggested_amount > 0%><%= number_with_precision @plan.donation_suggested_amount, :precision => 2 %><%end%>" onfocus="$('#dollar3').css('color','#333')" onblur="if ($(this).val() == '') {$('#dollar3').css('color','#aaa') }">
		
				<div style="clear:both"></div>
		</div>
		
		
		
		<%end%>
		
		<%if current_user%>
			<div class="form-row">
			        <label style="text-align:right; margin-top:9px; margin-right:5px; width:80px;float:left">Name:</label>
			        <input type="text" size="20" autocomplete="off" style="float:left" class="name ShadowedTextBox RegisterBox" value="<%=current_user.first_name%> <%=current_user.last_name%>"/>
					<div style="clear:both"></div>
			</div>
		<%end%>
		
		<div class="form-row" style="margin-top:5px">
		        <label style="text-align:right; margin-top:9px; margin-right:5px; width:80px;float:left">Card Number:</label>
		        <input type="text" size="20" autocomplete="off" style="float:left" class="card-number ShadowedTextBox RegisterBox"/>
				<div style="clear:both"></div>
		</div>  
		<div class="form-row" style="margin-top:5px">


		        <label style="text-align:right; margin-top:9px; margin-right:5px; width:80px;float:left">CVC:</label>
		        <input type="text" size="4"style="float:left; width:30px;"  autocomplete="off" class="card-cvc ShadowedTextBox RegisterBox" />
			<div style="clear:both"></div>
   </div>
		    <div class="form-row" style="margin-top:5px">
		        <label style="text-align:right; margin-top:4px; margin-right:5px; width:80px;float:left">Expiration:</label>
		        <div style="float:left">
				<select class="card-expiry-month">
					<option>MM</option>
					<option>01</option>
					<option>02</option>
					<option>03</option>
					<option>04</option>
					<option>05</option>
					<option>06</option>
					<option>07</option>
					<option>08</option>
					<option>09</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
				</select>
				<select class="card-expiry-year">
					<option>YYYY</option>
					<option>2011</option>
					<option>2012</option>
					<option>2013</option>
					<option>2014</option>
					<option>2015</option>
					<option>2016</option>
					<option>2017</option>
					<option>2018</option>
					<option>2019</option>
					<option>2020</option>
					<option>2021</option>

				</select>
				</div>
					<div style="clear:both"></div>
		    </div>
		
			<div id="payment_warning" style="margin-left:90px; margin-top:5px; color:red; font-weight:bold"></div>
		
			<div id="SignIn"  class="WhiteActiveBorder" onclick="validatePayment(this, <%if source=="post_signup_modal"%>2<%else%>1<%end%> )" style="margin-left:85px; width:202px">
				<div unselectable="on" class="LightGrayGreenButton" style="width:200px" >
					<div id="paymentbutton" class="InnerLightGrayGreenBorder">
						Submit Payment
					</div>
				</div>
			</div>
			<%if source !="purchase"%>
			<div style="clear:both"></div>
				<div class="SubTitle" style="font-weight:normal; margin-top:10px; font-size:12px;"><b>Refund Policy</b>:  100% refund, for any reason.</div>
			<%end%>
			<div style="clear:both"></div>
			
				</div>
				
				
						<script>

								$(document).ready(function() {
									cum_qty = 1;
									$('.card-number').numeric();
									$('.card-cvc').numeric();
								 });
						</script>
						
							</div>