<div id="PaymentModal"> 
	<div class="closeRegister" style="margin-left:492px" onclick="closeRegister()"></div>
	
	<div style="margin-top:3px; margin-left:3px; border:1px solid #ccc; width:95%; margin-left:auto; margin-right:auto; padding:5px; background:#FFFFCC;  text-align:center;">
			<div class="HighlightedTitle"  style="font-size:22px; margin-top:2px;">Purchase Tickets</div>
	</div>
	
	
	<div id="Payment" style="margin-top:20px; width:95%; margin-left:auto; margin-right:auto;" >
	<form action="" method="POST" id="payment-form">
	
		<div style="float:left; width:100px">
			<div class="price_display" style=" margin-top:2px; font-weight:bold; color:black; font-size:26px;">
				$<%= number_with_precision @plan.price, :precision => 2 %>
			</div>
		
	
					<select id="qty" style="margin-top:10px" class="qty" onchange="qty=$(this).val(); price=$('#unit_price').val()*qty; $('.price_display').html('$'+roundNumber($('#unit_price').val()*$(this).val(),2)); $('.qty').val($(this).val()); ">
						<option value="1">1 ticket</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>

					</select>
			</div>	
					

		<div style="float:left; width:360px;margin-left: 10px;  padding-bottom:10px;">
		<div class="SubTitle" style="font-weight:bold;"><%=raw @plan.title%></div>
			
			
				<div class="rewardlink" style="font-weight:normal; font-size:12px; margin-top:10px; float:left;" onclick="$('.rewardlink').hide(); $('.RewardDiv').show(); $('.RewardCode').focus();"><a href="#"  class="BlueLink">Discount Code</a></div>
					<div class="RewardDiv" style="display:none">
						<div style="font-size:11px; color:#666; display:none; font-weight:normal">Mech E Capstone</div>
						<input class="RewardCode" type="textfield" style="font-size:12px;">
						<input type="button" style="" value="apply" onclick="ApplyReward($('.RewardCode',$(this).parent()).val())">
					</div>
				<div style="clear:both"></div>
				
				<div class="registerBorder" style="font-size:12px; margin-top:15px; padding:15px; font-weight:normal;">
					
					    <div class="form-row">
					        <label style="text-align:right; margin-top:9px; margin-right:5px; width:80px;float:left">Card Number:</label>
					        <input type="text" size="20" autocomplete="off" style="float:left" class="card-number ShadowedTextBox RegisterBox"/>
							<div style="clear:both"></div>
						</div>  
					<div class="form-row" style="margin-top:5px">


					        <label style="text-align:right; margin-top:9px; margin-right:5px; width:80px;float:left">CVC:</label>
					        <input type="text" size="4"style="float:left; width:30px;"  autocomplete="off" class="card-cvc ShadowedTextBox RegisterBox" />
						<div style="clear:both"></div>
			   </div>
					    <div class="form-row" style="margin-top:5px">
					        <label style="text-align:right; margin-top:4px; margin-right:5px; width:80px;float:left">Expiration:</label>
					        <div style="float:left">
							<select class="card-expiry-month">
								<option>MM</option>
								<option>01</option>
								<option>02</option>
								<option>03</option>
								<option>04</option>
								<option>05</option>
								<option>06</option>
								<option>07</option>
								<option>08</option>
								<option>09</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
							</select>
							<select class="card-expiry-year">
								<option>YYYY</option>
								<option>2011</option>
								<option>2012</option>
								<option>2013</option>
								<option>2014</option>
								<option>2015</option>
								<option>2016</option>
								<option>2017</option>
								<option>2018</option>
								<option>2019</option>
								<option>2020</option>
								<option>2021</option>

							</select>
							</div>
								<div style="clear:both"></div>
					    </div>
					
						<div id="payment_warning" style="margin-left:90px; margin-top:5px; color:red; font-weight:bold"></div>
					
						<div id="SignIn"  class="WhiteActiveBorder" onclick="validatePayment(this)" style="margin-left:85px; width:202px">
							<div unselectable="on" class="LightGrayGreenButton" style="width:200px" >
								<div id="paymentbutton" class="InnerLightGrayGreenBorder">
									Submit Payment
								</div>
							</div>
						</div>
						<div style="clear:both"></div>
							<div class="SubTitle" style="font-weight:normal; margin-top:10px; font-size:12px;"><b>Refund Policy</b>:  100% refund, for any reason.</div>
						
						<div style="clear:both"></div>
				
					</div>
					
				<script>
		
						$(document).ready(function() {
							$('.card-number').numeric();
							$('.card-cvc').numeric();
						 });
				</script>
				
				
			
					</form>
			
			</div>
		<div style="clear:both"></div>
	

	<div style="clear:both"></div>

	



		<div style="clear:both; height:15px;"></div>
	

		<%if current_user and current_user.discount_active%>
			<div style="float:left">
				<div style="font-weight:normal; float:left; " onclick="$(this).parent().hide(); ReducePriceBy(5,2)"><a href="#"  class="BlueLink">Apply $5 Discount</a></div>
				<div style="float:left; font-weight:normal; margin-right:10px; margin-left:10px">|</div>
			</div>
		<%end%>

		



	</div>
	
	
</div>