<%if @attendees.length > 0 and @plan.enable_signups%>
    <div>
        <img style="margin-top:3px; margin-right:0px; margin-bottom:3px;float:left; width:26px; height:19px" src="/images/crowdIcon.png" title="# Attendees" class="tl Transparent">
        <div style="margin-top:5px; color:#ABABAC; font-weight:bold; font-size:12px;float:left"><%= @plan.signups%></div>
    </div>
<%end%>





<%@host_ids = Array.new%>
<%for host in @plan.organizers%>
    <%@host_ids.push host.id%>
    <%=render :partial=>"users/user_card", :locals=>{:user=>host, :label=>"Organizer"}%>
<%end%>

<%if @plan.id == 15%>
        <div style="margin-top:10px">     <a href="https://twitter.com/nicktommarello" style="margin-top:35px" data-width="154px" class="twitter-follow-button" data-show-count="false">@nicktommarello</a>
<a href="https://twitter.com/startupworkaway" style="margin-top:35px" data-width="165px" class="twitter-follow-button" data-show-count="false">@startupworkaway</a></div>
<%end%>


<%if @plan.id == 27%>
    <%judges = User.find(:all, :conditions=>"id=1316 || id=1318 || id=1321 || id=1319 || id=1320")%>
    <%for judge in judges%>
        <%=render :partial=>"users/user_card", :locals=>{:user=>judge, :label=>"Judge"}%>
    <%end%>
<%end%>

<%if @plan.enable_signups%>
        <%for user in attendees%>


            <%unless @host_ids.include?(user.id) %>
                <%=render :partial=>"users/user_card", :locals=>{:user=>user}%>
            <%end%>
        <%end%>
<%end%>