<div id="gallery" class="ad-gallery" style="margin-bottom:10px; height:325px">
  <div class="ad-image-wrapper"></div>
  <div class="ad-controls" style="display:none"></div>
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
	
	
     <li>
         <a href="/images/bali/2.jpg">
           <img src="/images/bali/2s.jpg"  class="image10">
         </a>
       </li>

        <li>
          <a href="/images/bali/1.jpg">
            <img src="/images/bali/1s.jpg" class="image0">
          </a>
        </li>



        <li>
          <a href="/images/bali/3.jpg">
            <img src="/images/bali/3s.jpg"  class="image4">
          </a>
        </li>
        <li>
          <a href="/images/bali/4.jpg">
            <img src="/images/bali/4s.jpg"  class="image5">
          </a>
        </li>
        <li>
          <a href="/images/bali/5.jpg">
            <img src="/images/bali/5s.jpg"  class="image6">
          </a>
        </li>
        <li>
          <a href="/images/bali/6.jpg">
            <img src="/images/bali/6s.jpg" class="image7">
          </a>
        </li>
        <li>
          <a href="/images/bali/7.jpg">
            <img src="/images/bali/7s.jpg"  class="image8">
          </a>
        </li>
        <li>
          <a href="/images/bali/8.jpg">
            <img src="/images/bali/8s.jpg" class="image9">
          </a>
        </li>
		        <li>
	              <a href="/images/bali/9.jpg">
	                <img src="/images/bali/9s.jpg"   class="image9">
	              </a>
	            </li>
		<li>
		          <a href="/images/bali/10.jpg">
		            <img src="/images/bali/10s.jpg"  class="image9">
		          </a>
		        </li>
		<li>
		          <a href="/images/bali/11.jpg">
		            <img src="/images/bali/11s.jpg"   class="image9">
		          </a>
		        </li>
		         
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/jquery.ad-gallery.js"></script>

<script type="text/javascript">
  $(function() {
    var galleries = $('.ad-gallery').adGallery({
	width: 400,
	height: 256,
	thumb_opacity: 0.9
	}	
	);
   });
</script>