<div id="gallery" class="ad-gallery" style="margin-bottom:10px; height:325px">
  <div class="ad-image-wrapper"></div>
  <div class="ad-controls" style="display:none"></div>
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
	
		<li>
		   <a href="/images/tropical/12.jpg">
		      <img src="/images/tropical/12s.jpg"   class="image9">
		    </a>
		 </li>
		<li>
		   <a href="/images/tropical/13.jpg">
		      <img src="/images/tropical/13s.jpg"   class="image9">
		    </a>
		 </li>
     <li>
         <a href="/images/tropical/2.jpg">
           <img src="/images/tropical/2s.jpg"  class="image10">
         </a>
       </li>

        <li>
          <a href="/images/tropical/1.jpg">
            <img src="/images/tropical/1s.jpg" class="image0">
          </a>
        </li>



        <li>
          <a href="/images/tropical/3.jpg">
            <img src="/images/tropical/3s.jpg"  class="image4">
          </a>
        </li>
        <li>
          <a href="/images/tropical/5.jpg">
            <img src="/images/tropical/5s.jpg"  class="image6">
          </a>
        </li>
        <li>
          <a href="/images/tropical/6.jpg">
            <img src="/images/tropical/6s.jpg" class="image7">
          </a>
        </li>
        <li>
          <a href="/images/tropical/7.jpg">
            <img src="/images/tropical/7s.jpg"  class="image8">
          </a>
        </li>
        <li>
          <a href="/images/tropical/8.jpg">
            <img src="/images/tropical/8s.jpg" class="image9">
          </a>
        </li>
		        <li>
	              <a href="/images/tropical/9.jpg">
	                <img src="/images/tropical/9s.jpg"   class="image9">
	              </a>
	            </li>
		   <a href="/images/tropical/11.jpg">
		      <img src="/images/tropical/11s.jpg"   class="image9">
		    </a>
		 </li>

		<li>
		   <a href="/images/tropical/14.jpg">
		      <img src="/images/tropical/14s.jpg"   class="image9">
		    </a>
		 </li>
		<li>
		   <a href="/images/tropical/15.jpg">
		      <img src="/images/tropical/15s.jpg"   class="image9">
		    </a>
		 </li>
		<li>
		   <a href="/images/tropical/16.jpg">
		      <img src="/images/tropical/16s.jpg"   class="image9">
		    </a>
		 </li>
		<li>
		   <a href="/images/tropical/17.jpg">
		      <img src="/images/tropical/17s.jpg"   class="image9">
		    </a>
		 </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascripts/jquery.ad-gallery.js"></script>

<script type="text/javascript">
  $(function() {
    var galleries = $('.ad-gallery').adGallery({
	width: 400,
	height: 256,
	thumb_opacity: 0.9
	}	
	);
   });
</script>