<div style="font-size:16px; line-height:20px; width:950px; margin-left:auto; margin-right:auto">



<div style="width:500px; text-align:center; margin-left:auto; margin-right:auto">

<div class="HighlightedTitle">Vampire Hackathon Finalists</div>

<p>Part Halloween party, part coding contest, over 130 local hackers celebrated the night in true startup fashion: creating something awesome.... before the sun rose at 7:04am over Cambridge!</p>

<p>These projects were largely completed in a single night.</p>

</div>


<div style="clear:both"></div>
<div style="border-top:1px dotted #ccc; height:1px; margin-top:30px"></div>
<div style="float:left; width:480px; ">
	<div style=" margin-top:30px; font-size:14px;  margin-bottom:3px;"><span style="font-weight:bold; font-size:18px; color:#333;">AB Positive</span> - <a href="/james-daniels" class="BlueLink">James Daniels</a>, <a href="/michele-titolo" class="BlueLink">Michele Titolo</a>, <a href="/justin-kaufman" class="BlueLink">Justin Kaufman</a>, & <a href="/andrew-tremblay" class="BlueLink">Andrew</a></div>
	<a class="BlueLink" target="_blank" href="http://abpositiveapp.com">http://abpositiveapp.com</a><br>
	
	<p>AB+ is a A/B testing utility for mobile applications. Experiments are ran via a web service, tracked, and can be modified without re-compiling releasing the app.</p>

	<p>We wrote the rails backend, with a functional client library in Objective-C and an in-progress Java client library.</p>

	<p>Email Justin at <a href="mailto:justinkaufman@gmail.com">justinkaufman@gmail.com</a> for the iPhone app.</p>


</div>


<iframe style="float:left; width:400px; margin-left:20px; margin-top:30px;" src="http://player.vimeo.com/video/31288351?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>


<div style="clear:both; "></div>
<div style="border-top:1px dotted #ccc; height:1px; margin-top:30px"></div>

<div style="float:left; width:480px; ">
	<div style=" margin-top:30px; font-size:14px;  margin-bottom:3px;"><span style="font-weight:bold; font-size:18px; color:#333;">Alpha-Helix</span> - <a href="/ryan-detzel" class="BlueLink">Ryan Detzel</a> & <a href="/steven-trevathan" class="BlueLink">Steven Trevathan</a></div>

	<p>Alpha-Helix | Improving conversion through natural selection</p>

	<p>We're building a tool for constructing multivariate tests that do more. Our system uses the highest converting elements of a page to mix and match new page elements for a perpetually increasing conversion rate.</p>

</div>


<iframe class="youtube-player" style="float:left; width:400px; margin-left:20px; margin-top:30px;" type="text/html" width="400" height="300" src="http://www.youtube.com/embed/Xp6Ga2ig5zM" frameborder="0" webkitAllowFullScreen allowFullScreen>
</iframe>


<div style="clear:both; "></div>
<div style="border-top:1px dotted #ccc; height:1px; margin-top:30px"></div>

<div style="float:left; width:480px;">
	<div style=" margin-top:30px; margin-bottom:3px;"><span style="font-weight:bold; font-size:18px; color:#333;">Ghost Raiders</span> - <a href="/chenkai-liu" class="BlueLink">Chenkai Liu</a>, <a href="/zhen-zhu" class="BlueLink">Zhen  Zhu</a>, & <a href="/vincent-lin" class="BlueLink">Vincent Lin</a></div>

	<p>Our project consists of a floating zombie head. Ghosts fly out of our tombstones to try to kill the floating zombie head. However, the player tilts the screen to move the zombie head out of the way of the ghosts. There are two power ups. A brain represents an extra life while a star represents extra points for the player.</p>

	<p>This game is awesome because it allows the ambidextrous to win :) WOOT!</p>
	
	<p>Email Vincent at <a class="BlueLink" href="mailto:vlin91@gmail.com">vlin91@gmail.com</a> for the iPhone app.</p>
	
</div>

<iframe style="float:left; width:400px; margin-left:20px; margin-top:30px;" src="http://player.vimeo.com/video/31320160?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

<div style="clear:both; "></div>
<div style="border-top:1px dotted #ccc; height:1px; margin-top:30px"></div>








<div style="float:left; width:480px; ">
	<div style=" margin-top:30px; margin-bottom:3px;"><span style="font-weight:bold; font-size:18px; color:#333;">Hack or Whack</span> - <a href="/pascal-rettig" class="BlueLink">Pascal Rettig</a>, <a href="/chris-myles" class="BlueLink">Chris Myles</a>, & <a href="/martha-rettig" class="BlueLink">Martha Rettig</a></div>
	web: <a class="BlueLink" target="_blank" href="http://www.hackorwhack.com/">http://www.hackorwhack.com/</a><br>
	mobile:  <a class="BlueLink" target="_blank" href="http://www.hackorwhack.com/m">http://www.hackorwhack.com/m</a>
	
	<p>Our project is about giving voice to all those ideas in your head that you never got a chance to do - it gives them wings and let's other people have an opportunity to learn from or be inspired by them. Alternatively if your project gets a bunch of votes, you might be inspired to take up the reins for your hack to make the world a better place.</p>

</div>


<iframe class="youtube-player" style="float:left; width:400px; margin-left:20px; margin-top:30px;" type="text/html" width="400" height="300" src="http://www.youtube.com/embed/so3otm9E5II" frameborder="0" webkitAllowFullScreen allowFullScreen>
</iframe>


<div style="clear:both; "></div>
<div style="border-top:1px dotted #ccc; height:1px; margin-top:30px"></div>


<div style="float:left; width:480px;">
	<div style=" margin-top:30px; margin-bottom:3px;"><span style="font-weight:bold; font-size:18px; color:#333;">HiPay.Me</span> - <a href="/harley-trung" class="BlueLink">Harley Trung</a>, <a href="/mike-schroll" class="BlueLink">Mike Schroll</a>, & <a href="/mike-nguyen" class="BlueLink">Mike Nguyen</a></div>
	<a class="BlueLink" target="_blank" href="http://hipay.me/">http://hipay.me/</a><br>
	
	<p>We make long-distance freelance payment easy. Traditional payment methods, including mailed cash, checks, and merchant accounts, create unnecessary payment delays and hassles. hipay.me makes it easy for any freelancer to collect payments instantly online. No knowledge of Web development is required.</p>

	<p>Why is this awesome? Never before has it been so simple and fast for freelancers to bill and get paid.
	A freelancer enters the billing amount and receive a unique hipay.me link to forward to the client. The client opens this link and enters only: credit card number, expiry date, and security code. The freelancer gets paid as soon as the client completes the transaction.</p>
</div>

<iframe style="float:left; width:400px; margin-left:20px; margin-top:30px;" src="http://player.vimeo.com/video/30944397?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>



<div style="clear:both; "></div>
<div style="border-top:1px dotted #ccc; height:1px; margin-top:30px"></div>


<div style="float:left; width:480px;">
	<div style=" margin-top:30px; margin-bottom:3px;"><span style="font-weight:bold; font-size:18px; color:#333;">Symtax</span> - <a href="/eli-fox-epstein" class="BlueLink">Eli Fox-Epstein</a>, <a href="/michael-shah" class="BlueLink">Mike Shah</a>, & <a href="/paul-ellis-linton" class="BlueLink">Paul Ellis Linton</a></div>
	<a class="BlueLink" target="_blank" href="https://raw.github.com/elitheeli/history.js/master/src/externs.js">https://raw.github.com/elitheeli/history.js/master/src/externs.js</a><br>
	
	<p>What does your code sound like? What's the beat to which you program? We explore the relationship between abstract syntax and musical pattern. More concretely, we turn your Javascript into an audio experience that's unique for every program.</p>

	<p>It current can take input via URL, or it can watch a file on your filesystem. This is great for when you're actively programming, as every time you save, the music updates itself to the structure of the program.</p>

	<p>Our design is nearly infinitely extensible, allowing countless variations on the mood produced. Future work could have the music adapt to the intensity of programming, gauged at the rate at which the programmer saves.</p>

</div>

<iframe style="float:left; width:400px; margin-left:20px; margin-top:30px;" src="http://player.vimeo.com/video/31288136?title=0&amp;byline=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>



<div style="clear:both; "></div>
<div style="border-top:1px dotted #ccc; height:30px; margin-top:30px"></div>



<div class="HighlightedTitle">Other Hacks</div>



</div>