<span class="HighlightedTitle">Happiness = Kickass memories + awesome people</span>

<div style="font-size:16px; line-height:22px; width:600px;">
	
<p>Ever have that moment, when you look back at the past 5 years, and think, <br>"<b>WTF! Where did my life go?</b>"

<p>We were too busy. Work-life balance? What is that?  While we thought of ourselves as adventurous, we were so preoccupied with work that we “forgot” to live.  We postponed our life to some vague point in the future.</p>

<p>We also enjoy meeting people from different walks of life, but don’t often run into them, since we spent most time in our existing communities (i.e., start-up bubble-land).  And after college, our circle of friends gradually grew smaller and smaller.</p>

<p>Something was missing!  We created Escapist to help add balance to our lives.  To create more kick-ass memories while meeting awesome new people.  Because, at the end of the day, experiences and friends are what make us happy. </p>

<div style="clear:both; height:10px;"></div>

<%@nick = User.find(1)%>

	<a href="/nick-tommarello"><%= image_tag(@nick.avatar.url(:thumb_350), :class=>"Transparent", :style=>"width:150px; height:150px; border:1px solid #E1E1E1;float:left") %></a>
	
	<div style="float:left; margin-left:10px">
		<div class="HighlightedTitle" style="font-size:16px">Nick Tommarello, Founder</div>
		<div style="width:350px; font-size:12px; line-height:14px;">
			Nick created Escapist in Costa Rica while organizing <a target="_blank" class="BlueLink"  href="http://startupworkaway.com/">Startup Workaway</a>.  He did most of the design and coding while laying on a hammock in a $2.3 million dollar villa overlooking the Pacific.  How's that for work life balance?
			
			<p>He's a Techstars Alum (Boston '10).  He's also a reformed MBA that eventually picked up some design & coding skills.</p>
		</div>
	</div>
	
	
	<div style="clear:both; height:10px;"></div>
	
		<div style="display:none">
	
		<img style="width:150px; height:150px; border:1px solid #E1E1E1;float:left" src="/images/avatar_question.jpg">
	
		<div style="float:left; margin-left:10px; ">
			<div class="HighlightedTitle" style="font-size:16px">Want to be a co-founder?</div>
			<div style="width:350px; font-size:12px; line-height:14px;">
				Nick created Escapist in Costa Rica while organizing <a target="_blank" class="BlueLink"  href="http://startupworkaway.com/">Startup Workaway</a>.  He did most of the design and coding while laying on a hammock in a $2.3 million dollar villa overlooking the Pacific.  How's that for work life balance?
		
				<p>He's a Techstars Alum (Boston '10).  He's also a reformed MBA that eventually picked up some design & coding skills.</p>
			</div>
		</div>
	</div>
	
	
	
</div>