<script>
	setTimeout("switchMenuBar($('#CreateLink'),1);",10);
</script>


<div class="HighlightedTitle" style="margin-left:auto; font-size:32px; margin-right:auto; width:900px; text-align:Center; height:50px; line-height:50px;">Be an Adventure Guide!</div>

<div style="font-size:18px; width:100%; text-align:center">Create & sell experiences that make people happy.</div>

<div class="CreateBox">
	<div class="CreateBoxShadow"></div>
	<div style="margin-top:-25px; float:left"><A target="_blank" href="http://startupworkaway.com/"><img src="/images/create.png" style="margin-top:1px; margin-left:1px;height:348px; width:540px; border:0"></a></div>
	
	<div style="float:left; margin-left:35px; width:300px;">
		<div class="HighlightedTitle" style="font-size:22px">Get Invited to the Beta</div>
		<div style="font-size:16px; line-height:22px;">
		
			<ul style="margin-left:-5px">
				<li>Enjoy meeting awesome people from around the world?</li><br>
				<li>Like to earn cash while having fun?</li><br>
				<li>Are you the life of the party, and like spreading the joy around?</li>
			</ul>
			
			<div id="invite">
			<b>Ask for an invite</b><br>
				<span style="font-size:13px">We're in beta testing.  Request early access.</span>
			
			
			
				<div style="width:266px;">	
					<textarea id="digest_email" type="textfield"  onKeyPress="return submitDigestOnEnter(this,1,0)" class="ShadowedTextBox" style="float:left; height:20px; margin-left:0px; line-height:20px; float:left;  color:#ccc;margin-top:5px; width:190px; " onfocus="if ($(this).val()=='email') { $(this).val(''); $(this).css('color','#666')}" onblur="if ($(this).val()=='') {$(this).val('email');  $(this).css('color','#ccc')}">email</textarea>
					
					<div  class="WhiteActiveBorder"  >
						<div unselectable="on" class="LightGrayButton" style="width:50px; margin-left:3px; float:left;height:34px; margin-top:4px; line-height:34px; font-size:12px " onclick="joinCreateDigest(88)">
							<div id="JoinDigest" class="InnerLightGrayBorder"style="height:32px;" >
								Submit
							</div>
						</div>
					</div>
					
				</div>
				</div>
				
			</div>
	</div>
	<div style="clear:both"></div>
</div>
	<div style="clear:both"></div>
<div style="width:900px; margin-top:10px;margin-left:auto; margin-right:auto">
	
	<div style="float:left; ">
	<div class="CreateScoreBox" style=""><img src="/images/icon_easy.png"></div>
	<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF">
		<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Your own web site. In a click.</div>
		<div style="margin-top:-3px">Set up your own domain name, or use ours. Customize with gorgeous themes.</div>
	</div>
	</div>
	
	<div class="CreateScoreBox" style="margin-left:25px"><img src="/images/icon_dollar.png"></div>
	<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF; margin-top:0px">
		<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Seamless Payment. You control.</div>
		<div style="margin-top:-3px">Get paid with Paypal, Google Checkout, or WePay. Funds go to your account.</div>
	</div>
						

	<div class="CreateScoreBox"  style="margin-left:25px"><img src="/images/icon_monkey.png"></div>
		<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF">
		<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Customize with gorgeous themes</div>
		<div style="margin-top:-3px">Make your web site look awesome!<br>Tinker with it until it's perfect.</div>
	</div>

</div>


<div style="clear:both"></div>
<div style="width:900px; margin-top:20px;margin-left:auto; margin-right:auto">
	
	<div style="float:left; ">
	<div class="CreateScoreBox" style=""><img src="/images/icon_easy.png"></div>
	<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF">
		<div class="HighlightedTitle" style="font-size:14px; margin-top:2px;">Integrate Apps & Widgets</div>
		<div style="margin-top:-3px">Choose from widgets like MailChimp, Woopra, Twitter, & Tumblr.</div>
	</div>
	</div>
	
	<div class="CreateScoreBox" style="margin-left:25px"><img src="/images/icon_dollar.png"></div>
	<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF; margin-top:0px">
		<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Be closer to your customers</div>
		<div style="margin-top:-3px">Contact them easily. See what cool adventures they've been doing.</div>
	</div>
						

	<div class="CreateScoreBox"  style="margin-left:25px"><img src="/images/icon_monkey.png"></div>
		<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF">
		<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Promoted on Escapist</div>
		<div style="margin-top:-3px">Your experiences are also posted in the Escapist directory.</div>
	</div>

</div>
