<script>
	setTimeout("switchMenuBar($('#CreateLink'),1);",10);
</script>


<div class="HighlightedTitle" style="margin-left:auto; font-size:32px; margin-right:auto; width:900px; text-align:Center; height:50px; line-height:50px;">Create an Adventure Web Site in Minutes</div>

<div class="CreateBox">
	<div class="CreateBoxShadow"></div>
	<div style="margin-top:-25px; float:left"><A target="_blank" href="http://startupworkaway.com/"><img src="/images/create.png" style="margin-top:1px; margin-left:1px;height:348px; width:540px; border:0"></a></div>
	
	<div style="float:left; margin-left:35px; width:300px;">
		<div class="HighlightedTitle" style="font-size:22px">Coming Fall 2011</div>
		<div style="font-size:16px; line-height:22px;">
		
			<ul style="margin-left:-5px">
				<li>Enjoy meeting awesome people from around the world?</li><br>
				<li>Like to earn cash while having fun?</li><br>
				<li>Are you the life of the party, and like spreading the joy around?</li>
			</ul>
			
			<div id="invite">
			<b>Ask for an invite</b><br>
				<span style="font-size:13px">We're in beta testing.  Request early access.</span>
			
			
			
				<div style="width:266px;">	
					<textarea id="digest_email" type="textfield"  onKeyPress="return submitDigestOnEnter(this,1,0)" class="ShadowedTextBox" style="float:left; height:20px; margin-left:0px; line-height:20px; float:left;  color:#ccc;margin-top:5px; width:190px; " onfocus="if ($(this).val()=='email') { $(this).val(''); $(this).css('color','#666')}" onblur="if ($(this).val()=='') {$(this).val('email');  $(this).css('color','#ccc')}">email</textarea>
					
					<div  class="WhiteActiveBorder"  >
						<div unselectable="on" class="LightGrayButton" style="width:50px; margin-left:3px; float:left;height:34px; margin-top:4px; line-height:34px; font-size:12px " onclick="joinCreateDigest(88)">
							<div id="JoinDigest" class="InnerLightGrayBorder"style="height:32px;" >
								Submit
							</div>
						</div>
					</div>
					
				</div>
				</div>
				
			</div>
	</div>
	<div style="clear:both"></div>
</div>
	<div style="clear:both"></div>
<div style="width:900px; margin-top:10px;margin-left:auto; margin-right:auto">
	
	<div style="float:left; margin-left:20px;">
	<div class="CreateScoreBox" style=""><img src="/images/icon_easy.png"></div>
	<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF">
		<div class="HighlightedTitle" style="font-size:14px;">It's gorgeous and easy!</div>
		Set up your own .com with a couple of clicks. Customize it as you like.
	</div>
	</div>
	
	<div class="CreateScoreBox" ><img src="/images/icon_dollar.png"></div>
	<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF; margin-top:0px">
		<div class="HighlightedTitle" style="font-size:14px;">Shopping Cart</div>
		Billing system is seamlessly integrated. We take care of the hassle.
	</div>
						

						<div class="CreateScoreBox"><img src="/images/icon_monkey.png"></div>
						<div style="float:left; margin-left:10px; width:220px; padding-top:11px; color:#558CBF">
							<div class="HighlightedTitle" style="font-size:14px;">Cross-Promoted on Escapist</div>
							Meet awesome escapists from around the world!</div>
						
	
	
</div>

	