<script>
	setTimeout("switchMenuBar($('#CreateLink'),1);",10);
</script>


<div class="HostTopBox">
	<div class="noise"></div>
	<div class="noisecontent">
	<div style="width:1000px;margin-left:auto; margin-right:auto">
		
		
		<div style="float:left; width:480px">
			<div class="WhiteHighlightedTitle">Host an Adventure</div>
			<div class="HostSubTitle">Publish a swank web site to promote your events.<br>Create and sell kick-ass experiences!</div>
		
		
			<div style="margin-top:28px; margin-left:10px">
				
				<div class="checkmark"></div><div style="float:left; color:#EAF2F8; font-size:15px; margin-top:3px">Quick set up & free</div>
								
				<div style="clear:both; height:10px;"></div>
				<div class="checkmark"></div><div style="float:left; color:#EAF2F8; font-size:15px; margin-top:3px">Sell tickets or take applications</div>
				
				<div style="clear:both; height:10px;"></div>
				<div class="checkmark"></div><div style="float:left; color:#EAF2F8; font-size:15px; margin-top:3px">Earn cash by having fun</div>
								
			</div>
			
			<div style="clear:both; height:28px;"></div>
				<div class="HostSubTitle">We're currently in beta testing.<br>Get on our early-invite list.</div>
				<div style="position:absolute; margin-top:-30px; margin-left:230px;"><img class="Transparent" onclick="$('#digest_email').focus()" src="/images/pointer.png"></div>
		
			<div style="margin-left:290px;margin-top:-95px; ">
				<div class="BetaBox"></div>
		
				<div class="" style="position:absolute; margin-top:10px; color:#fff; margin-left:10px">
					<div id="Thanks" class="" style="font-size:16px; line-height:18px; text-shadow:#369B3D 0 1px 0;">Ask for an invite</div>
					<div id="Shortly" style="font-size:13px; opacity:.9; margin-top:5px">Get early access to the beta</div>

					<div id="BetaAccess" style="width:266px;">	
						<input id="digest_email" type="textfield"  onKeyPress="return submitDigestOnEnter(this,1,0)" class="ShadowedTextBox" style="float:left; height:15px; margin-left:0px; line-height:15px; float:left;  color:#ccc;margin-top:5px; width:130px; font-size:12px; color:#999 " onfocus="if ($(this).val()=='email') { $(this).val(''); $(this).css('color','#666')}" value="email" onblur="if ($(this).val()=='') {$(this).val('email');  $(this).css('color','#999')}">
					
						
							<div unselectable="on" class="LightGrayButton" style="width:50px; margin-left:3px; float:left;height:30px; margin-top:4px; line-height:30px; font-size:12px " onclick="joinCreateDigest(88)">
								<div id="JoinDigest" class="InnerLightGrayBorder"style="height:28px;" >
									Submit
								</div>
							</div>
						</div>	
				
				</div>
			</div>
		
		
		</div>
	
		<div style="float:right;  width:502px; margin-top:23px">
		<A target="_blank" href="http://startupworkaway.com/"><img  src="/images/screenshot1.png" class="CreateScreenshot"></a>
		</div>
	
	</div>
	</div>
</div>

<div class="HostQuote">
	<div style="width:1000px;margin-left:auto; margin-right:auto">
		<div style="float:left; width:600px; margin-top:-4px">
		<img style="float:left; margin-right:10px; width:26px; height:21px;" src="/images/quote2.png">
			<div class="HostQuoteText">Dude! This was a lot more fun to use than Eventbrite!<br>I can sell my tickets in style!</div>
			<div style="clear:both"></div>
			<div style="margin-left:250px; margin-top:8px; color:#777777">- Joe Smith, totally fake person</div>
		</div>
		
		<div style="float:right; width:380px;">
			<a style="float:left" href="http://startupworkaway.com" target="_blank"><img class="TransparentOpposite" src="/images/host_logo1.png"></a>
			<a style="float:right; margin-top:-8px;" href="http://connectorcampfire.com" target="_blank"><img class="TransparentOpposite" src="/images/host_logo2.png"></a>
			<div style="clear:both">
				<div align="center">
	<a href="http://tropicaljobhunt.com" target="_blank"><img  style="margin-top:5px"  class="TransparentOpposite" src="/images/host_logo3.png"></a></div>
		</div>
				
		</div>
		
	</div>
</div>

<div class="FadeToWhite"></div>




	<div style="clear:both"></div>
	
	
	
	
<div style="width:1000px; margin-top:2px;margin-left:auto; margin-right:auto">
	
	<div style="float:left; width:300px;">
		
		<img src="/images/use_1.png" style="border:1px solid #d4d4d4">
		
			<div style="color:#3F3F38; margin-top:5px;font-weight:bold; font-size:20px; margin-bottom:10px">Use #1: Cheap Group Travel</div>The <a class="BlueLink">Tropical Job Hunt</a> folks are staying in a multi-million dollar mansion with a private chef. For free.
			<div style="width:100%; text-align:right; margin-top:5px;"><a class="BlueLink">Next &#187;</a></div>	
	</div>
	
	
	<div style="float:right; width:595px; margin-top:-15px">
		
	
		<div class="CreateScoreBox" style=""><img src="/images/icon_easy.png"></div>
		<div style="float:left; margin-left:10px; width:220px; padding-top:11px; ">
			<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Your own web site. In a click.</div>
			<div style="margin-top:-3px">Set up your own domain name, or use ours. Quick & easy to use.</div>
		</div>
	
		<div class="CreateScoreBox" style="margin-left:25px"><img style="margin-top:-4px"  src="/images/icon_cash.png"></div>
		<div style="float:left; margin-left:10px; width:220px; padding-top:11px; margin-top:0px">
			<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Seamless Payment. You control.</div>
			<div style="margin-top:-3px">Get paid with Paypal, Google Checkout, or WePay. Funds are under your control.</div>
		</div>
		
		<div style="clear:both; height:10px;"></div>
		<div class="CreateScoreBox" ><img style="margin-top:-2px" src="/images/icon_brush.png"></div>
			<div style="float:left; margin-left:10px; width:220px; padding-top:11px; ">
			<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Customize with gorgeous themes</div>
			<div style="margin-top:-3px">Make your web site look awesome!<br>Tinker with it until it's perfect.</div>
		</div>
		
		<div class="CreateScoreBox" style="margin-left:25px"><img src="/images/icon_app.png"></div>
		<div style="float:left; margin-left:10px; width:220px; padding-top:11px;">
			<div class="HighlightedTitle" style="font-size:14px; margin-top:2px;">Integrate apps & widgets</div>
			<div style="margin-top:-3px">Choose from widgets like MailChimp, Woopra, Wufoo, Twitter, & Tumblr.</div>
		</div>
			<div style="clear:both; height:10px;"></div>
		
		<div class="CreateScoreBox" style=""><img style="margin-top:4px;" src="/images/icon_chat.png"></div>
		<div style="float:left; margin-left:10px; width:220px; padding-top:11px;  margin-top:0px">
			<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Get to know your customers</div>
			<div style="margin-top:-3px">Contact them easily. See what cool adventures they've been doing.</div>
		</div>
		
		<div class="CreateScoreBox"  style="margin-left:25px"><img src="/images/icon_chart.png"></div>
			<div style="float:left; margin-left:10px; width:220px; padding-top:11px;">
			<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Promoted on Escapist</div>
			<div style="margin-top:-3px">Get more traffic! Your experiences are cross-posted in the Escapist directory.</div>
		</div>
		
	</div>
	
	<div style="clear:both"></div>
	
	
	<div class="HostDotted"></div>
	
			<div style="color:#3F3F38; font-weight:bold; font-size:20px; margin-bottom:10px">More Features</div>
	
	
		<div class="HostDotted"></div>
	
	<div style="float:left; width:500px;">
		<div style="color:#3F3F38; font-weight:bold; font-size:20px; margin-bottom:10px">For our beta testers:  FREE FOR LIFE!</div>
		<div style="width:450px;font-size:16px; margin-top:5px; line-height:20px">It's the least we can do.  Host an event attended by 10+ people while we're in beta, and get a free Business plan for life.</div>
	</div>
	<div style="float:left">
		
		<div class="BetaBox"></div>
		<div class="" style="position:absolute; margin-top:10px; color:#fff; margin-left:10px">
			<div id="Thanks" class="" style="font-size:16px; line-height:18px; text-shadow:#369B3D 0 1px 0;">Ask for an invite</div>
			<div id="Shortly" style="font-size:13px; opacity:.9; margin-top:5px">Get early access to the beta</div>

			<div id="BetaAccess" style="width:266px;">	
				<input id="digest_email" type="textfield"  onKeyPress="return submitDigestOnEnter(this,1,0)" class="ShadowedTextBox" style="float:left; height:15px; margin-left:0px; line-height:15px; float:left;  color:#ccc;margin-top:5px; width:130px; font-size:12px; color:#999 " onfocus="if ($(this).val()=='email') { $(this).val(''); $(this).css('color','#666')}" value="email" onblur="if ($(this).val()=='') {$(this).val('email');  $(this).css('color','#999')}">
			
				
					<div unselectable="on" class="LightGrayButton" style="width:50px; margin-left:3px; float:left;height:30px; margin-top:4px; line-height:30px; font-size:12px " onclick="joinCreateDigest(88)">
						<div id="JoinDigest" class="InnerLightGrayBorder"style="height:28px;" >
							Submit
						</div>
					</div>
				</div>	
			</div>
	
	</div>
	
	<div style="clear:both; height:50px;"></div>
	
	<div style="opacity:.3; margin-top:30px">
		<img src="/images/temp_plan.png">
	</div>				



</div>

