<script>
	setTimeout("switchMenuBar($('#CreateLink'),1);",10);
</script>


<div class="HostTopBox">
	<div class="noise"></div>
	<div class="noisecontent">
	<div style="width:1000px;margin-left:auto; margin-right:auto">
		
		
		<div style="float:left; width:480px">
			<div class="WhiteHighlightedTitle">Host an Adventure</div>
			<div class="HostSubTitle">Create, promote, and sell kick-ass experiences!</div>
		
		
			<div style="margin-top:20px; margin-left:10px">
				
				<div class="checkmark"></div><div style="float:left; color:#EAF2F8; font-size:15px; margin-top:3px">Free web site & quick set up</div>
								
				<div style="clear:both; height:10px;"></div>
				<div class="checkmark"></div><div style="float:left; color:#EAF2F8; font-size:15px; margin-top:3px">Sell tickets or take applications</div>
				
				<div style="clear:both; height:10px;"></div>
				<div class="checkmark"></div><div style="float:left; color:#EAF2F8; font-size:15px; margin-top:3px">Build a fan base</div>
								
			</div>
			
			<div style="clear:both; height:20px;"></div>
		
		
			<div style="margin-left:0px;margin-top:0px; ">
				<div class="BetaBox"></div>
		
				<div class="" style="position:absolute; margin-top:10px; color:#fff; margin-left:10px">
					<div class="Thanks" style="font-size:16px; line-height:18px; text-shadow:#5A0102 0 1px 0;">I want an invite to the beta!</div>
				

					<div class="BetaAccess" style="width:266px; margin-top:3px;">	
						<input id="digest_email" type="textfield"  onKeyPress="return submitDigestOnEnter(this,1,0)" class="ShadowedTextBox" style="border:1px solid #990000; float:left; height:15px; margin-left:0px; line-height:15px; float:left;  color:#ccc;margin-top:5px; width:182px; font-size:12px; color:#999 " onfocus="if ($(this).val()=='email') { $(this).val(''); $(this).css('color','#666')}" value="email" onblur="if ($(this).val()=='') {$(this).val('email');  $(this).css('color','#999')}">
					
						
							<div unselectable="on" class="LightGrayButton" style="width:50px; margin-left:3px; float:left;height:30px; margin-top:4px; line-height:30px; font-size:12px; border:1px solid #990000;" onclick="joinCreateDigest(88)">
								<div id="JoinDigest" class="InnerLightGrayBorder"style="height:28px;" >
									Submit
								</div>
							</div>
						</div>	
				
				</div>
			</div>
		
		
		</div>
	
		<div style="float:right;  width:636px; margin-top:-174px">
		<A target="_blank" href="http://startupworkaway.com/"><img  src="/images/screenshot3.png" class="CreateScreenshot"></a>
		</div>
	
	</div>
	</div>
</div>

<div class="HostQuote">
	<div style="width:1000px;margin-left:auto; margin-right:auto">
		<div style="float:left; width:600px; margin-top:-4px">
		<img style="float:left; margin-right:10px; width:26px; height:21px;" src="/images/quote2.png">
			<div class="HostQuoteText">Dude! This was a lot more fun to use than Eventbrite!<br>I can sell my tickets in style!</div>
			<div style="clear:both"></div>
			<div style="margin-left:250px; margin-top:8px; color:#777777">- Joe Smith, a totally fake person</div>
		</div>
		
		<div style="float:right; width:380px; margin-right:20px">
			<a style="float:left" href="http://startupworkaway.com" target="_blank"><img class="TransparentOpposite" src="/images/host_logo1.png"></a>
			<a style="float:right; margin-top:-8px;" href="http://connectorcampfire.com" target="_blank"><img class="TransparentOpposite" src="/images/host_logo2.png"></a>
			<div style="clear:both">
				<div align="center">
	<a href="http://tropicaljobhunt.com" target="_blank"><img  style="margin-top:5px"  class="TransparentOpposite" src="/images/host_logo3.png"></a></div>
		</div>
				
		</div>
		
	</div>
</div>

<div class="FadeToWhite"></div>




	<div style="clear:both"></div>
	
	
	
	
<div style="width:1000px; margin-top:2px;margin-left:auto; margin-right:auto">
	
		
	
	
	
	
	
	<div style="float:left; ">
		
		<img id="UseImage" src="/images/use_1.png" style="width:357px; height:230px;">
		
			
	</div>
	
	<div style=" margin-left:100px; width:500px; float:left; margin-top:-5px;">
		
			<div style="color:#3F3F38; margin-top:5px;font-weight:bold; font-size:20px; margin-bottom:10px" id="UseHeading">Use #27: Steeply Discounted Group Travel</div>
			<div id ="UseSubHeading" style="font-size:16px; line-height:24px; margin-right:25px">The <a class="BlueLink" target="_blank" href="http://tropicaljobhunt.com/">Tropical Job Hunt</a> folks are staying in a multi-million dollar mansion on the beach, with a private chef, for 10 days.<br><br>When you get enough people together, you can live pretty extravagantly at 1/3 the price.</div>
			<script>Use = 1</script>
			<div id="UseNextLink" style="width:100%; font-size:16px; margin-top:20px;"><span onclick="advanceUse()" class="BlueLink">Next &#187;</span></div>
	</div>
	
	
	
	<div style="display:none">
		<img src="/images/use_2.png" >
		<img src="/images/use_3.png">
	</div>
	

	

	
	<div style="clear:both"></div>
	
	
	<div class="HostDotted" style="margin-top:20px;"></div>
	
	
		
		
	
	<div style="float:left; width:500px">
		<div style="color:#3F3F38; font-weight:bold; font-size:20px; margin-bottom:10px">Build a Following</div>
		<div style=" font-size:16px; line-height:24px; margin-right:25px">
			Stay in touch with past and future attendees. Chat about new ideas, or set polls to find the most popular dates. Notify your subscribers when you plan a new event.
			<p>Earn some cred by enabling reviews, and your attendees can upload photos and videos of all the fun they had.</p>
			
		</div>
	</div>
	<div style="float:left; margin-left:100px">
		<img src="/images/feature1.png">
	</div>
	


	<div style="clear:both"></div>
	
		<div class="HostDotted"></div>

		<div style="float:left; ">
			<img src="/images/feature2.png">
		</div>
		<div style="float:left; margin-left:100px; width:500px">
			<div style="color:#3F3F38; font-weight:bold; font-size:20px; margin-bottom:10px">Public, Private, Passwords, and Applications</div>
			<div style=" font-size:16px; line-height:24px; margin-right:25px">Invite a select sample of your friends, or open it up to everyone on the planet - it's up to you.  <p>You also can approve customers one by one by requiring an application - comes in handy if you're going to spend 10 days on a deserted island with them!</p></div>
		</div>
	
	<div style="clear:both"></div>
	
		<div class="HostDotted"></div>
	
	<div style="float:left; width:500px; height:220px">
		<div style="color:#3F3F38; font-weight:bold; font-size:20px; margin-bottom:10px">For our beta testers:  <span style="color:#BA0202">FREE FOR LIFE!</span></div>
		<div style="width:450px;font-size:16px; margin-top:5px; line-height:24px">Organize an event attended by over 10 people while we're in beta, and get a free Unlimited Plan for life.
			
			<p>It's the least we can do!  We want to learn how Escapist can kick ass at meeting your needs, before releasing more broadly. </p>
			
			
			<div style="margin-top:10px; font-size:14px"></div></div>
	</div>
	<div style="float:left; margin-left:140px">
		<div style="position:absolute; margin-left:-55px; margin-top:110px; z-index:5"><img src="/images/free.png"></div>
		<div class="BetaBox2"></div>
		<div class="" style="position:absolute; margin-top:20px; color:#fff; margin-left:20px">
			<div id="" class="Thanks2" style="font-size:24px; line-height:18px; text-shadow:#369B3D 0 1px 0;">Ask for an invite</div>
			<div class="Shortly" style="font-size:16px; opacity:.9; margin-top:10px">Get early access to the beta</div>

			<div class="BetaAccess" style="width:266px; margin-top:5px">	
				<input id="digest_email" type="textfield"  onKeyPress="return submitDigestOnEnter(this,1,0)" class="ShadowedTextBox" style="float:left; height:20px; margin-left:0px; line-height:20px; float:left;  color:#ccc;margin-top:5px; width:190px; font-size:14px; color:#999 " onfocus="if ($(this).val()=='email') { $(this).val(''); $(this).css('color','#666')}" value="email" onblur="if ($(this).val()=='') {$(this).val('email');  $(this).css('color','#999')}">
			
				
					<div unselectable="on" class="LightGrayButton" style="width:50px; margin-left:3px; float:left;height:35px; margin-top:4px; line-height:35px; font-size:12px " onclick="joinCreateDigest(88)">
						<div id="JoinDigest" class="InnerLightGrayBorder"style="height:33px;" >
							Submit
						</div>
					</div>
				</div>	
				
				<div style="clear:both"></div>
				<div style="font-size:12px; margin-left:50px; width:210px; opacity:.8; margin-top:20px;">
				Host an event with 10+ people during our beta and receive our unlimited plan free for life, excluding credit card fees.
				</div>
				
			</div>
			<div style="clear:both"></div>
	
	</div>
		<div style="clear:both"></div>
	
			<div class="HostDotted" style="margin-top:20px; margin-bottom:30px;"></div>
			
	
	
		<div class="CreateScoreBox" style="margin-left:15px; margin-top:0px;"><img src="/images/icon_easy.png"></div>
		<div style="float:left; margin-left:10px; width:210px;  ">
			<div class="HighlightedTitle" style="font-size:14px; margin-top:-1px ">Your own web site. In a click.</div>
			<div style="margin-top:-3px">Set up your own domain name, or<br> use ours. Quick & easy to use.</div>
		</div>
	
		<div class="CreateScoreBox" style="margin-left:75px;margin-top:0px;"><img style="margin-top:-4px"  src="/images/icon_cash.png"></div>
		<div style="float:left; margin-left:10px; width:210px;  margin-top:-2px">
			<div class="HighlightedTitle" style="font-size:14px; ">Seamless Payment. You control.</div>
			<div style="margin-top:-3px">Get paid with Paypal, Google, or WePay. Funds go directly to you.</div>
		</div>
		
	
		<div class="CreateScoreBox" style=" margin-left:75px;margin-top:0px;" ><img style="margin-top:-2px;" src="/images/icon_brush.png"></div>
			<div style="float:left; margin-left:10px; width:210px; margin-top:-2px">
			<div class="HighlightedTitle" style="font-size:14px;">Customize gorgeous themes</div>
			<div style="margin-top:-3px">Make your web site look awesome!<br>Tinker with it until it's perfect.</div>
		</div>
		
			<div style="clear:both; height:10px;"></div>
			
		<div class="CreateScoreBox" style="margin-left:15px"><img src="/images/icon_app.png"></div>
		<div style="float:left; margin-left:10px; width:210px; padding-top:11px;">
			<div class="HighlightedTitle" style="font-size:14px; margin-top:2px;">Integrate apps & widgets</div>
			<div style="margin-top:-3px">Choose from widgets like MailChimp, Woopra, Wufoo, Twitter, & Tumblr.</div>
		</div>
		
		
		<div class="CreateScoreBox" style="margin-left:75px"><img style="margin-top:4px;" src="/images/icon_chat.png"></div>
		<div style="float:left; margin-left:10px; width:210px; padding-top:11px;  margin-top:0px">
			<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Social Sharing</div>
			<div style="margin-top:-3px">All the social media you love.  Help <br>your customers spread the word.</div>
		</div>
		
		<div class="CreateScoreBox"  style="margin-left:75px"><img src="/images/icon_chart.png"></div>
			<div style="float:left; margin-left:10px; width:210px; padding-top:11px;">
			<div class="HighlightedTitle" style="font-size:14px;  margin-top:2px;">Promoted on Escapist</div>
			<div style="margin-top:-3px">Get more traffic! Your experiences are cross-posted in the Escapist directory.</div>
		</div>
		
		
		<div style="clear:both"></div>



	
	

</div>



