
<div style="width:600px">
	<span class="HighlightedTitle">Social Adventure Organizer</span>


	<p>We're hiring an adventurous social butterfly to run events for <%=APP_NAME%>.</p>

	<p><%=APP_NAME%> challenges people to experience more out of life. We want to help people make their lives more exciting.  Before they get old and go, "Oh, damn. That went by pretty fast."</p>

	<p><%=APP_NAME%> organizes an "Adventure of the Week", with one big discount, open to the public.  Sorta like an adventure-oriented meetup with a groupon-like discount.  Think skydiving, rock climbing, kayaking, squirrel fishing, snow monster competitions, etc.</p>

	<p>Your job will be to help plan and run these events.  Responsibilities include coming up with creative ideas, setting up reservations, organizing any logistics required, and attending the event to make sure everything goes smoothly.</p>

	<p>But, most importantly, we're looking for someone outgoing who loves meeting new people.  A natural connector.  Someone who thrives on introducing people and making them feel comfortable.</p>

	<p>To apply, e-mail Nick at nick@<%=APP_URL%>.  Please include one idea of an adventure you'd like to organize.  Brownie points if you sign up for a Stomp account.</p>
	
	
		
</div>