<div class="HighlightedTitle">Search Results</div>

<div style="padding-top:15px; padding-bottom:25px">
	<form action="/search" method="post" id="SearchForm2">
		<input id="search_text" name="search_text" autocomplete="off" type="textfield" class="TextBox SearchBoxResults" style="-moz-border-radius: 0px; height:16px; padding:9px; margin-left:0px; margin-top:0px; width:300px; -webkit-border-radius: 0px;" value="<%=params[:search_text]%>" onKeyPress="return submitOnEnter(this,event,4)"    >
		<img src="/images/search3.gif" class="SearchIconResults" style="position:absolute; margin-top:0px; left:319px; cursor:pointer; " onclick="if ($('#searchfield3').val() != '') { $('#SearchForm2').submit(); }" >
	</form>
	</div>
	

<%= render :partial => "web/format_search_results", :locals=>{:source=>"search"}%>